
<div class="item-main">
    <div class="item-view">
        <i class="material-icons large">person</i>
        <div ng-include="'newApp/partials/btnz/itemBtnz.html'"></div>
        <div
            id="title"
            contenteditable="true"
            ng-model="updatedItemName"
            ng-keypress="($event.which === 13)?ctrl.updateItemName($event):0"
            ng-blur="ctrl.updateItemName($event)"

        >{{ctrl.currentItem.fName + ' ' +ctrl.currentItem.lName}}</div>

    </div>

</div>
<ul class="collection">
    <li ng-if="ctrl.showNumberForm" ng-include="'newApp/partials/forms/addPhoneNumForm.html'" class="collection-item">

    </li>
    <li class="collection-item phone-num" ng-repeat="item in ctrl.currentItem.phoneNum">
        <div ng-include="'newApp/partials/phoneNumber.html'"></div>
    </li>
</ul>

